@model IEnumerable<Application_municipalité.Models.Demande>

@{
    ViewBag.Title = "Index";
}
   <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
<style>
    .he {
        margin-left: 30px;
        border-left: 10px solid #484848;
        border-right: 10px solid #484848;
        background-color: #818181;
        color: #282828;
        font-family: Arial;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
<h1 class="he">Demande</h1>



<body onload="myfunction2()">

    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.nom)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.prenom)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Numéro_national_didentité)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Sexe)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.typedeDemander)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.change)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numéro_national_didentité)
                </td>
                <td>
                    @{
                        string g = "";
                        if (@item.Sexe == true)
                        {
                            g = "Masculin";
                        }
                        else
                        {
                            g = "Féminin";

                        }
                    }
                    @g

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.typedeDemander)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.change, new { id = "change", @class = item.idD })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idD }) |

                </td>
            </tr>
        }

    </table>
    <input type="submit" name="ctl0$CONTENU_PAGE$acteNaissance$etapeSuivante" value="Etape suivante" id="ctl0_CONTENU_PAGE_acteNaissance_etapeSuivante" onclick="myfunction()" class="btn btn-next">

</body>
    <script>
     
        function myfunction() {

            var a = document.querySelectorAll("#change");

            var b = new Array();
            var c = new Array();
            for (var i = 0; i < a.length; i++) {
                b[i] = a[i].checked;
                c[i] = a[i].className;
            }
            var dataa = {
                id: c,
                bo: b,
            }
          
            $.ajax({
                data: dataa, // << Without JSON.stringify
                traditional: true,  // << Important line
                url: '/Admin/Valide',
                type: 'post',
                dataType: 'json',
                success: function (resp) {
                    alert("ok");
                }
            });
        }

    </script>